# Build dependencies
Flask
Flask-Talisman
Flask-Cors
flask-wtf
flask-bootstrap
pillow
numpy
Werkzeug
Flask-SQLAlchemy

# Runtime dependencies
gunicorn==20.1.0
honcho==1.1.0

# Code quality
flake8==4.0.1
black==22.3.0
pylint==3.2.6

# Testing dependencies
nose==1.3.7
pinocchio==0.4.3
factory-boy==2.12.0

# Code Coverage
coverage==6.3.2

#gemini
google-generativeai